
/*old*/
body {
font-family: 'Jura', sans-serif;
font-size: 1em;
padding: 0;
}



.triangle {
	width: 0;
	height: 0;
	border-bottom: 30px solid rgba(0, 0, 0, 0.11);
	border-left: 30px solid transparent;
  float: right;
}

hr {
  width: 5em;
	margin-top: 0;
	margin-bottom: 0;

}

h1 {
  font-size: 5.9vw;
}
h2 {
  font-size: 3.0vh;
}

h3 {
  font-size: 2.5vh;
}

a {
  font-size: 2.2vmin;
}

.portfolio {
  color: black;
}

.charts {
  background-color: #eff2f5;
}

.menu {
  background-color: #ffffff;
}

.top-bar {
  background-color: #292b2c;
}

.chart-1, .total-build {
  background-color: #fa424a;
}

.chart-2, .total-avto {
  background-color: #ac6bec;
}

.chart-3, .total-eqip {
  background-color: #fdad2a;
}

.chart-4, .total-pc {
  background-color: #46c35f;
}

.chart-1,
.chart-2,
.chart-3,
.chart-4 {
  padding: 0;
  padding-top: 30px;
  color: #ffffff;
}

.big-diagramm {
padding: 0;
background-color: white;
}

.tab-pane {
  width: 100%;
  min-height: 450px;
}

.cities,
.districts {
	min-height: 450px;
}

.mini-container,
.color-cards {
-webkit-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.28);
-moz-box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.28);
box-shadow: 0px 0px 10px 1px rgba(0,0,0,0.28);
}

.mini-container {
	margin-top: 10px;
}

.top-bar {
	padding: 0;
}

.modal-content{
		border-radius: 0;
}
